.Comment   { color: pink;   }
.Symbol    { color: #888;   }
.ConId     { color: #c08;   }
.VarId     { color: #646;   }
.Keyword   { color: #505; font-weight: bold; }
.Function  { color: black;  }
.String    { color: maroon; }
.Tag       { color: green;  }
