.action
{
  font-family: "Alte Haas Grotesk";
  font-size: 30px;
}

.slide h1
{
  font-family: "Alte Haas Grotesk";
  font-weight: normal;
  font-size: 60px;
}

.slide.chapter h1
{
  font-size: 100px;
}

.slide.titlepage h1
{
  font-size: 80px;
}

.slide.titlepage .author
{
  font-family: "Alte Haas Grotesk";
  font-size: 30px;
}

.slide .slidenumber,
.slide footer
{
  font-family: "Alte Haas Grotesk";
}

.slide .slidenumber { font-size: 20px; }
.slide footer       { font-size: 20px; }

.slide .body
{
  font-size: 30px;
  font-family: "Alte Haas Grotesk";
}

.slide .body pre
{
  font-family: Courier;
  font-size: 25px;
}

.slide .body tt,
.slide .body code
{
  font-family: Courier;
}

.slide .body .large
{
  font-size: 40px;
}

.slide .body pre.large  { font-size: 35px; }
.slide .body .large pre { font-size: 35px; }

