.slide h1
{
  font-family: "Alte Haas Grotesk";
  font-weight: normal;
  font-size: 80px;
}

.slide header .slidenumber,
.slide footer
{
  font-family: "Alte Haas Grotesk";
  font-size: 26px;
}

.slide .body
{
  font-size: 40px;
  font-family: "Alte Haas Grotesk";
}

.slide .body pre
{
  xfont-family: Monaco;
  font-size: 30px;
}

.slide .body code
{
  font-family: Monaco;
  font-size: 30px;
}

