.action
{
  font-family: "Alte Haas Grotesk", Helvetica;
  font-size: 30px;
}

.slide h1
{
  font-family: "Alte Haas Grotesk", Helvetica;
  font-weight: normal;
  font-size: 60px;
}

.slide.chapter h1
{
  font-size: 100px;
}

.slide.titlepage h1
{
  font-size: 80px;
}

.slide.titlepage .author
{
  font-family: "Alte Haas Grotesk", Helvetica;
  font-size: 35px;
}

.slide.titlepage .email
{
  font-size: 30px;
}

.slide .slidenumber,
.slide footer
{
  font-family: "Alte Haas Grotesk", Helvetica;
}

.slide .slidenumber { font-size: 20px; }
.slide footer       { font-size: 20px; }

.slide .body
{
  font-size: 30px;
  font-family: "Alte Haas Grotesk", Helvetica;
}

.slide .body pre
{
  font-family: Courier;
  font-size: 25px;
}

.slide .body tt,
.slide .body code
{
  font-family: Courier;
}

.slide .body .large
{
  font-size: 40px;
  line-height: 60px;
}

.slide .body pre.large,
.slide .body .large pre
{
  font-size: 35px;
  line-height: 50px;
}

/* -------------------------------------------------------------------------- */

.slide .body .scream
{
  font-size: 50px;
  line-height: 80px;
  text-align: center;
}

.slide h1.scream
{
  padding-top: 80px;
  font-size: 100px;
  text-align: center;
}

