*
{
  margin: 0;
  padding: 0;
}

.slide
{
  -webkit-transition: opacity  0.4s linear;

  xdisplay: none;
  zoom: 1.00;

  overflow: hidden;
  position: absolute;
  left: 0px;
  width: 1024px;
  top: 0px;
  height: 768px;
}

/* ----------------------------- */

.slide h1
{
  padding: 10px 20px;
}

.slide header .slidenumber
{
  position: absolute;
  right: 20px;
  top: 20px;
}

.slide footer
{
  padding: 10px 20px;
  text-align: right;
}

.slide footer
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* ----------------------------- */

.slide .body
{
  padding: 40px 40px;
  xborder: solid 1px blue;
}

.slide .body > div
{
  margin-bottom: 40px;
  xborder: solid 1px red;
}

.slide .body > div > *
{
  margin-bottom: 20px;
}

.slide .body img.tall
{
  height: 90%;
  width: auto;
}

.slide .body img.long
{
  width: 99%;
  height: auto;
}

.slide .body pre.large,
.slide .body .large pre
{
  xpadding: 20px 30px;
  line-height: 52px;
}

.slide .body pre
{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 30px;
  line-height: 32px;
}

.slide .body pre.signature
{
  margin-bottom: 4px;
}

.slide .body code
{
  padding: 0 8px;
}

.slide .body ul,
.slide .body ol
{
  padding: 15px;
  margin-left: 60px;
  margin-right: 20px;
}

.slide .body li
{
  margin-bottom: 10px;
}

.slide .body .vindent { margin-top:  80px; }
.slide .body .hindent { margin-left: 80px; }

