body
{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}

*
{
  margin: 0;
  padding: 0;
}

body.mouse *
{
  -webkit-user-select: none;
  cursor: none;
}

body.insert .slide
{
  -webkit-user-modify: read-write;
}

.slide
{
  -webkit-transition: opacity 0.4s;
  page-break-before: always;
  page-break-after:  always;

  xdisplay: none;
  zoom: 1.00;

  overflow: hidden;
  position: absolute;
  left: 0px;
  width: 1024px;
  top: 0px;
  height: 768px;
}

.action
{
  z-index: 200px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  background: rgba(0,0,0, 0.8);
  padding: 5px 20px;
  -webkit-border-radius: 20px;
  -webkit-box-shadow: 0 0 10px black;
  -webkit-transition: opacity 0.6s;
  opacity: 0.0;
}

/* ----------------------------- */

.slide h1
{
  padding: 15px 20px;
}

.slide.chapter h1
{
  padding: 220px 20px;
  text-align: center;
}

.slide.titlepage h1
{
  padding: 120px 20px 20px 20px;
  text-align: center;
}

.slide.titlepage .author
{
  text-align: center;
}

.slide header .slidenumber
{
  margin-right: 10px;
  margin-top: -80px;
  float: right;
  opacity: 0.0;
}

.slide header .slidenumber.visible
{
  opacity: 1.0;
}

.slide footer
{
  padding: 10px 20px;
  text-align: right;
}

.slide footer
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* ----------------------------- */

.slide .body
{
  padding: 40px 40px;
  xborder: solid 1px blue;
}

.slide .body > div
{
  margin-bottom: 40px;
  xborder: solid 1px #ddd;
}

.slide .body > div > *
{
  margin-bottom: 20px;
}

.slide .body img.tall
{
  height: 90%;
  width: auto;
}

.slide .body img.long
{
  width: 99%;
  height: auto;
}

.slide .body pre.large,
.slide .body .large pre
{
  xpadding: 20px 30px;
  line-height: 52px;
}

.slide .body pre
{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 30px;
  line-height: 32px;
}

.slide .body pre.signature
{
  margin-bottom: 2px;
}

.slide .body code
{
  padding: 0 8px;
}

.slide .body ul,
.slide .body ol
{
  padding: 15px;
  margin-left: 60px;
  margin-right: 20px;
}

.slide .body li
{
  margin-bottom: 10px;
}

.slide .body .vindent { margin-top:  80px; }
.slide .body .hindent { margin-left: 80px; }

