*
{
  margin: 0;
  padding: 0;
}

.slide
{
  display: none;
  zoom: 1.00;

  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}

/* ----------------------------- */

.slide h1
{
  padding: 10px 40px;
}

.slide header .slidenumber,
.slide footer
{
  padding: 8px 20px;
  text-align: right;
}

.slide footer
{
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* ----------------------------- */

.slide .body
{
  padding: 40px 80px;
}

.slide .body > div
{
  margin-bottom: 50px;
}

.slide .body > div > *
{
  margin-bottom: 14px;
}

.slide .body pre
{
  padding: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.slide .body code
{
  padding: 0 6px;
}

