body
{
  background: black;
}

*
{
  outline: none;
}

.slide
{
  background: #eee;
  -webkit-border-radius: 5px;
  overflow: hidden;
}

.slide h1
{
  color: #504;
}

.slide header .slidenumber
{
  color: #888;
  top: 10px;
  right: 10px;
}

.slide footer
{
  color: black;
  opacity: 0.5;
}

/* ----------------------------- */

.slide .body .problem  { color: #a00; }
.slide .body .solution { color: #070; }
.slide .body .center   { text-align: center; }

.slide .body em.em0 { color: #a00;  }
.slide .body em.em1 { color: #00a;   }

.slide .body pre
{
  background: white;
  -webkit-box-shadow: 2px 2px 10px rgba(0,0,0, 0.15);
  -webkit-border-radius: 5px;
  x-webkit-border-top-right-radius: 30px;
}

.slide .body pre em
{
  color: green;
}

.slide .body .helper
{
  background: #eee;
}

.slide .body img
{
}

.slide .body code
{
  xbackground: white;
  color: #00a;
}

