body
{
  background: black;
}

*
{
  outline: none;
  -webkit-user-select: none;
  xcursor: none;
}

.slide
{
  background: #ddd;
  -webkit-border-radius: 8px;
}

.slide h1
{
  color: #000;
}

.slide header .slidenumber
{
  color: #888;
  top: 10px;
  right: 10px;
}

.slide footer
{
  color: black;
  opacity: 0.5;
}

/* ----------------------------- */

.slide .body em
{
  color: #808;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}

.slide .body .problem  { color: #a00; }
.slide .body .solution { color: #080; }
.slide .body .center   { text-align: center; }

.slide .body em.em0 { color: blue;  }
.slide .body em.em1 { color: red;   }

.slide .body pre
{
  background: white;
  x-webkit-box-shadow: 2px 2px 10px rgba(0,0,0, 0.05);
  x-webkit-border-radius: 4px;
}

.slide .body img
{
}

.slide .body code
{
  xbackground: white;
  color: #00c;
}

